<!-- Nav bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand order-1 mr-0" href="#">DilKhush</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Products</a>
        <a class="nav-item nav-link" href="#">Services</a>
        <a class="nav-item nav-link " href="#">Contact Us</a>
      </div>
    </div>
  </div>
</nav>
<!-- /Nav bar -->

<!-- Jumbtron -->
<div class="jumbotron jumbotron-fluid bg-info text-white mt-5">
  <div class="container text-sm-center pt-4">
    <h1 class="display-2">DilKhush</h1>
    <p class="lead">Indian Gourmet Food</p>
    <p class="text-muted">background cover will be replaced with dilkhush's cover image</p>
  </div>
</div>

<!-- /Jumbotron -->

<!-- Columns -->

<div class="container pt-4">
  <div class="row">
    <!-- first column -->
    <div class="col-lg order-lg-2">
      <h3 class='mb-4 text-center'>About DilKhush</h3>
      <img src="./assets/banner.png" alt="foster city" class="img-fluid rounded d-none d-sm-block">
    
      <p class='lead'>Welcome! </p>
      <p class="lead text-justify">
                           
  write some text here about dilkhush.
  write some text here about dilkhush.
  write some text here about dilkhush.
  write some text here about dilkhush.
  write some text here about dilkhush.
  write some text here about dilkhush.
  write some text here about dilkhush. write some text here about dilkhush.

          
      </p>
    </div>
    <!-- /first column -->

    <!-- second column -->
    <div class="col-lg order-lg-1">
      <h3 class='mb-4 text-center'>
        Cooking Made Easy
      </h3>
      <p class="lead text-justify">Dil Khush produces an assortment of instant Curries,
        and rice blends that require little preparation, very simple
        to make yet great authentic taste. All the masala's are freshly ground
        and packed in a special bags keeping all the flavors fresh until ready to use.
        The label contains easy to follow recipe. To get the authentic Indian flavors &
        taste all you need to do is roast Masala Mix in little oil, add 1-2 tablespoon of
        tomato paste and 1-2 Tablespoon of sour cream or plain yogurt substitute soymilk
        products for Vegan preparation, mix well and then add your choice of meat or
        vegetable, Add water and cook until tender. Its' that easy!!!!</p>
    </div>
    <!-- /second column -->

    <!-- third column -->
    <div class="col-lg order-3 list-group list-group-flush ">
      <h3 class='mb-4 pl-5'>
        Useful Links
      </h3>

      <a href="http://www.dilkhush.com/Spices-Main-Page.html" target="_blank" class="list-group-item list-group-item-action pl-5">Easy To Cook Retail Size Spices</a>
      <a href="http://www.dilkhush.com/demo/Demo-Main-Page.html" target="_blank" class="list-group-item list-group-item-action  pl-5">Award Winning Chutneys</a>
      <a href="http://www.dilkhush.com/demo/Demo-Main-Page.html" target="_blank" class="list-group-item list-group-item-action  pl-5">Easy To Cook Food Services</a>
      <a href="http://www.dilkhush.com/Benefits%20Of%20Curry.html" target="_blank"  class="list-group-item list-group-item-action pl-5 ">Benefits Of Curry</a>
      <a href="http://www.dilkhush.com/Articles.html" target="_blank"  class="list-group-item list-group-item-action  pl-5">Published Articles</a>
      <a href="http://www.dilkhush.com/PressRelease/Packaging%20PressRelease-H.htm" target="_blank"  class="list-group-item list-group-item-action  pl-5">Prsess Release</a>
      <a href="http://www.dilkhush.com/demo/Demo-Main-Page.html" target="_blank"  class="list-group-item disabled list-group-item-action  pl-5"></a>





    </div>
    <!-- /third column -->
  </div>

  <hr/>

  <h3 class="display-5 text-muted text-center my-5">CookBook</h3>
  <div class="row mb-5">


    <div class="container">
      <div class="row ">
        <div class="col-sm list-group">
          <a href="http://www.dilkhush.com/recipes/cookbook_chicken_masala.html" target="_blank" class="list-group-item list-group-item-action ">Chicken Masala</a>
          <a href="http://www.dilkhush.com/recipes/cookbook_chicken_masala.html" target="_blank" class="list-group-item list-group-item-action">Chicken Korma</a>
          <a href="http://www.dilkhush.com/recipes/cookbook_chicken_masala.html" target="_blank" class="list-group-item list-group-item-action">Vindaloo Chicken/Lamb/Beef</a>
          <a href="http://www.dilkhush.com/recipes/cookbook_chicken_masala.html" target="_blank" class="list-group-item list-group-item-action">Tandoori Chicken </a>
          <a href="http://www.dilkhush.com/recipes/cookbook_chicken_masala.html" target="_blank" class="list-group-item list-group-item-action ">Tandoori Chicken Fajita</a>
          <a href="http://www.dilkhush.com/recipes/cookbook_chicken_masala.html" target="_blank" class="list-group-item list-group-item-action ">Tandoori Tikka</a>
        </div>
        <div class="col-sm list-group">
          <a href="http://www.dilkhush.com/recipes/cookbook_chicken_masala.html" target="_blank" class="list-group-item list-group-item-action ">Keema Masala</a>
          <a href="http://www.dilkhush.com/recipes/cookbook_chicken_masala.html" target="_blank" class="list-group-item list-group-item-action ">Fish Curry Gravy</a>
          <a href="http://www.dilkhush.com/recipes/cookbook_chicken_masala.html" target="_blank" class="list-group-item list-group-item-action ">Fish in Tandoori Masala</a>
          <a href="http://www.dilkhush.com/recipes/cookbook_chicken_masala.html" target="_blank" class="list-group-item list-group-item-action ">Shrimps in Tandoori Masala</a>

        </div>
        
        <div class="col-sm list-group">
          <a href="http://www.dilkhush.com/recipes/cookbook_chicken_masala.html" target="_blank" class="list-group-item list-group-item-action ">Aloo Gobi</a>
          <a href="http://www.dilkhush.com/recipes/cookbook_chicken_masala.html" target="_blank" class="list-group-item list-group-item-action ">Red Potato Curry</a>
          <a href="http://www.dilkhush.com/recipes/cookbook_chicken_masala.html" target="_blank" class="list-group-item list-group-item-action ">Peas & Mushroom Curry</a>
          <a href="http://www.dilkhush.com/recipes/cookbook_chicken_masala.html" target="_blank" class="list-group-item list-group-item-action ">Saag Paneer</a>
          <a href="http://www.dilkhush.com/recipes/cookbook_chicken_masala.html" target="_blank" class="list-group-item list-group-item-action ">Baigan Bhartha</a>
          <a href="http://www.dilkhush.com/recipes/cookbook_chicken_masala.html" target="_blank" class="list-group-item list-group-item-action ">Tofu with Red/Green Pepper Curry</a>

        </div>
      </div>
    </div>

  </div>

  <!-- DEMOs -->
  
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/280HF_BHmXU" allowfullscreen></iframe>
              </div>
              
        </div>
      </div>
    </div>
 
<hr/>
  <h3 class="display-5 text-muted text-center my-5">Demo - How To</h3>


  <div class="row mb-5">
    <div class="col-md-6 col-lg-4">
      <div class="card mb-3 border-primary-custom text-center ">
        <img class="card-img-top rounded img-fluid"
          src="http://www.dilkhush.com/demo/Demo-Main-Page_files/ChickenTikkaStill2.JPG" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Chicken Tikka Masala</h5>
          <p class="card-text">Chicken Tikka Masala descrption goes here. This content will be a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated a few days ago</small></p>
          <!-- <p> <a target="_blank" href="http://www.dilkhush.com/demo/demo-Chicken-Tikka-Masala.html" class="">Click
              Here</a> to see the demo video</p> -->
              <button type="button" class="btn btn-outline-primary mx-auto" data-toggle="modal" data-target=".bd-example-modal-lg">See Demo</button>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3 border-primary-custom text-center">
        <img class="card-img-top rounded img-fluid" src="http://www.dilkhush.com/demo/Demo-Main-Page_files/image002.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Tandoori Masala</h5>
          <p class="card-text">Tandoori Masala descrption goes here. This content will be a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated a few days ago</small></p>
          <!-- <p> <a target="_blank" href="http://www.dilkhush.com/demo/demo-Chicken-Tikka-Masala.html" class="">Click
              Here</a> to see the demo video</p> -->
              <button type="button" class="btn btn-outline-primary mx-auto" data-toggle="modal" data-target=".bd-example-modal-lg">See Demo</button>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3 border-primary-custom text-center">
        <img class="card-img-top rounded img-fluid"
          src="http://www.dilkhush.com/demo/Demo-Main-Page_files/ChannaMasalaPic-sm.JPG" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Channa Masala</h5>
          <p class="card-text">Channa Masala descrption goes here. This content will be a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 2 months ago</small></p>
          <!-- <p> <a target="_blank" href="http://www.dilkhush.com/demo/demo-Chicken-Tikka-Masala.html" class="">Click
              Here</a> to see the demo video</p> -->
              <button type="button" class="btn btn-outline-primary mx-auto" data-toggle="modal" data-target=".bd-example-modal-lg">See Demo</button>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3 border-primary-custom text-center">
        <img class="card-img-top rounded img-fluid"
          src="http://www.dilkhush.com/demo/Demo-Main-Page_files/Pic2-Bom-Masala.JPG" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Potatoes in Bombay Masala</h5>
          <p class="card-text">Potatoes in Bombay Masala descrption goes here. This content will be a little bit longer.
          </p>
          <p class="card-text"><small class="text-muted">Last updated 2 months ago</small></p>
          <!-- <p> <a target="_blank" href="http://www.dilkhush.com/demo/demo-Chicken-Tikka-Masala.html" class="">Click
              Here</a> to see the demo video</p> -->
              <button type="button" class="btn btn-outline-primary mx-auto" data-toggle="modal" data-target=".bd-example-modal-lg">See Demo</button>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3 border-primary-custom  text-center">
        <img class="card-img-top rounded img-fluid"
          src="http://www.dilkhush.com/demo/Demo-Main-Page_files/DalMasalaPic-3.JPG" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Lentil(Dal) Masala</h5>
          <p class="card-text">Lentil(Dal) Masala descrption goes here. This content will be a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 45 days ago</small></p>
          <!-- <p> <a target="_blank" href="http://www.dilkhush.com/demo/demo-Chicken-Tikka-Masala.html" class="">Click
              Here</a> to see the demo video</p> -->
              <button type="button" class="btn btn-outline-primary mx-auto" data-toggle="modal" data-target=".bd-example-modal-lg">See Demo</button>
        </div>
      </div>
    </div>

    

    <div class="col-md-6 col-lg-4">
      <div class="card mb-3 border-primary-custom  text-center">
        <img class="card-img-top rounded img-fluid"
          src="http://www.dilkhush.com/demo/Demo-Main-Page_files/MadrasMasalaPicSM2.JPG" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Salmon in Madras Masala & Green Onions</h5>
          <p class="card-text">Salmon in Madras Masala & Green Onions descrption goes here. This content will be a
            little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 months ago</small></p>
          <!-- <p> <a target="_blank" href="http://www.dilkhush.com/demo/demo-Madras-Masala.html" class="">Checkout</a> 
             the demo </p> -->
             <button type="button" class="btn btn-outline-primary mx-auto" data-toggle="modal" data-target=".bd-example-modal-lg">See Demo</button>
        </div>
      </div>
    </div>

   

  </div>

  <!-- /DEMOs -->
  <hr/>
  <!-- Testimony -->
  <h3 class="display-5 text-muted text-center my-5">Testimonials</h3>
  <div class="row mb-5">
    <div class="col-md-6">
      <div class="card mb-3 border-info text-center">
        <div class="card-body">

          <p class="card-text">"I'm really a beginner at Indian food, but using Dil Khush products makes me look like a
            cooking pro! The products are just wonderful and so fresh. Her blends work so well."
          </p>
          <h5 class="card-title"> Craig</h5>
          <p class="card-text"><small class="text-muted">date comes here</small></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3 border-info text-center">

        <div class="card-body">

          <p class="card-text">
            "The flavor of Dil Khush seasonings is hauntingly familiar yet so delightfully unique. I find myself
            dependably savoring every bite, and always feel so satisfied and healthfully fed after eating curries using
            the Dil Khush seasoning. There is nothing like these flavors -- after years of eating and cooking South
            Asian food, no restaurant or mix or paste has ever even come close."

          </p>
          <h5 class="card-title ">Lester Ludwig</h5>
          <p class="card-text"><small class="text-muted">date comes here</small></p>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="card mb-3 border-info text-center">

        <div class="card-body">

          <p class="card-text">
            "We have found Dil Khush Indian gourmet spices to be very convenient to use, and including them in our
            cooking has produced outstanding results. We particularly enjoy the Tandoori Masala and the Kashmiri Meat
            Masala."

          </p>
          <h5 class="card-title">Mary and Tom De Vries, Redwood Shores</h5>
          <p class="card-text"><small class="text-muted">date comes here</small></p>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="card mb-3 border-info text-center">

        <div class="card-body">

          <p class="card-text">
            "Hello!I bought two packs of the Mint & Basmati mix on Saturday at the RWC Farmers Market. Everybody at the
            church potluck must have liked it, because there sure wasn't any left for me to take home! Fortunately, I
            had saved out a couple of servings for us to have later in the week. We really liked the Dil Khush Spice
            Blends. Next time we'll try a different dish. Keep up the good work."

          </p>
          <p>Sincerely,</p>

          <h5 class="card-title"> Donna Holm</h5>
          <p class="card-text"><small class="text-muted">date comes here</small></p>
        </div>
      </div>

    </div>

    <div class="col-md-6">
      <div class="card mb-3 border-info text-center">

        <div class="card-body">

          <p class="card-text">
            "Dil Khush Cilantro mint chutney has a delicious, fresh flavor that turns steamed vegetables and low carb
            tortillas into interesting and satisfying.meals. I have been using this sauce for over a year and I'm
            addicted! It is my "secret weapon" for eating healthy without feeling deprived or bored..."

          </p>


          <h5 class="card-title">Ann Baum</h5>
          <p class="card-text"><small class="text-muted">date comes here</small></p>
        </div>
      </div>

    </div>



  </div>
  <!-- /Testimony -->

  <hr />




</div> <!-- /End of Container-->



<!-- Footer -->

<div class="row bg-dark text-white pt-3">
  <div class="container">
    
   


    <div class="col-md text-md-center mb-2">
      Dil Khush P.O.Box 4542 Foster City CA 94404 Phone-(650) 799 2715

      <a class="nav-link" href="#">dilkhush@gmail.com</a>

      <small>&copy; DilKhush-Indian Gourmet Food</small>
    </div>

  </div>
</div>


<!-- /Footer -->

<!-- /Columns -->